body {
    margin: 1rem;
    background-color: plum;
   
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 3rem;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #1000ff;
    
    
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1rem;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: auto;
    width: 50%;
}
p {
    font-size: 1.5vw;
    line-height: 2.1rem;
    color: #333;
    text-align: justify;
    width: 50%;
    margin: auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 3.5vw;
}

ul.posts li {
    list-style: none;
}

.katex { 
    font-size: 2.0em; 
}

li {
    font-size: 1.7rem;
}
