<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			  tex2jax: {
			    inlineMath: [['$','$'], ['\\(','\\)']],
			    processEscapes: true,
				chtml: {
				    scale: 1.3
				},
				svg: {
				    scale: 1.3
				}
			  
			});
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
			

			

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Blog">Writing</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
	</html>
